<div class="routes_template routeTabsContainer">
  <md-tabs md-selected="selectedIndex">
    <md-tab ng-repeat='tab in tabs track by $index' class='routeTab' ng-click='checkTabs(tab)' label='{{tab.title}}'>

      <md-list-item ng-if='tab.mainTab' class="md-3-line modal-list-item" ng-repeat="item in currentModalItem.routesForArea.routes" ng-click="openSingleRouteTab(item)">
        <img ng-src="{{item.picture_url}}?{{$index}}" class="md-avatar" alt="{{item.who}}">
        <div class="md-list-item-text" layout="column" layout-align="center start">
          <h4>Route: {{ item.route_name }}</h4>
          <h4>Climbing type: {{ item.climb_type }}</h4>
          <h4>Climbing grade: {{ item.climb_grade }}</h4>
          <p class="modal-list-description">Description: {{ item.description }}</p>
        </div>
      </md-list-item>

      <md-list-item ng-if='tab.reviewTab' class="md-3-line modal-list-item">
        <img ng-src="{{tab.picture_url}}" class="md-avatar" alt="{{tab.title}}">
        <div class="md-list-item-text" layout="column" layout-align="center start">
          <h4>Route: {{ tab.title }}</h4>
          <h4>Climbing type: {{ tab.climb_type }}</h4>
          <h4>Climbing grade: {{ tab.climb_grade }}</h4>
          <p class="modal-list-description">Description: {{ tab.description }}</p>
        </div>
      </md-list-item>

      <div class='reviewItem' ng-if='tab.reviewTab' ng-repeat='review in tab.reviews'>
        <img class='reviewUserPhoto' ng-src="{{review.user_photo}}" alt="{{review.username}}">
        <div class="reviewContent">
          <div class='reviewContentBlock'>
            <p class='reviewText'>User: {{review.username}} </p>
            <br>
            <p class='reviewText'> Review: {{review.review}}</p>
          </div>
        </div>
      </div>

      <div id="submitReview" ng-if='tab.reviewTab' class="addReviewContainer">
        <h1>Leave a Review!</h1>
        <form class="" ng-submit='submitReview(newReview, tab.route_id)'>
          <input class="textField" type="text" ng-model='newReview.content'>
          <input class="submitBtn" type="submit" value='Submit Review'>
        </form>
      </div>

    </md-tab>
  </md-tabs>
</div>
