<div class="routes_template" >

  <md-subheader id="modalHeader" class="md-no-sticky"> <span class="modalHeaderSpanOne">Climbing Routes for:</span><span class="modalHeaderSpanTwo"> {{currentModalItem.routesForArea.routes[0].climbing_area}}</span></md-subheader>
  <md-list-item id="left" class="md-3-line modal-list-item" ng-repeat="item in currentModalItem.routesForArea.routes" ng-click="openFromLeft(item)">
    <img ng-src="{{item.picture_url}}?{{$index}}" class="md-avatar" alt="{{item.who}}">

    <div class="md-list-item-text" layout="column" layout-align="center start">
      <h4>Route: {{ item.route_name }}</h4>
      <h4>Climbing type: {{ item.climb_type }}</h4>
      <h4>Climbing grade: {{ item.climb_grade }}</h4>
    </div>

    <p class="modal-list-description"> {{ item.description }}</p>

  </md-list-item>
  <md-divider></md-divider>


</div>
