<div class="routes_template routeTabsContainer">
  <md-tabs md-selected="selectedIndex">
    <md-tab ng-repeat='tab in tabs track by $index' class='routeTab' ng-click='checkTabs(tab)' label='{{tab.title}}'>


      <div id="routeHead" ng-if='tab.mainTab'>
        <div>
          <h4>Routes for Climbing Area: {{currentModalItem.routesForArea.routes[0].climbing_area}}</h4>
        </div>
      </div>

      <md-list-item ng-if='tab.mainTab' class="md-3-line modal-list-item modalOne" ng-repeat="item in currentModalItem.routesForArea.routes" ng-click="openSingleRouteTab(item)">
        <img ng-src="{{item.picture_url}}?{{$index}}" class="md-avatar" alt="{{item.who}}">
        <div class="md-list-item-text" layout="column" layout-align="center start">
          <h4>Route: {{ item.route_name }}</h4>
          <h4>Climbing type: {{ item.climb_type }}</h4>
          <h4>Climbing grade: {{ item.climb_grade }}</h4>
          <p class="modal-list-description">Description: {{ item.description }}</p>
        </div>
      </md-list-item>

      <md-list-item ng-if='tab.reviewTab' class="md-3-line modal-list-item route">
        <img ng-src="{{tab.picture_url}}" class="md-avatar" alt="{{tab.title}}">
        <div class="md-list-item-text" layout="column" layout-align="center start">
          <h4>Route: {{ tab.title }}</h4>
          <h4>Climbing type: {{ tab.climb_type }}</h4>
          <h4>Climbing grade: {{ tab.climb_grade }}</h4>
          <p class="modal-list-description">Description: {{ tab.description }}</p>
        </div>
      </md-list-item>



      <div class="" ng-if='tab.mainTab != true'>
        <button class="commentBtn" ng-click="isReplyFormOpen = !isReplyFormOpen"  type="button" name="button">Leave Review</button>
        <div id="submitReview"  ng-init="isReplyFormOpen = false" ng-show="isReplyFormOpen"   class="addReviewContainer">
          <form class="" ng-submit='submitReview(newReview, tab.route_id)'>
            <input class="textField" type="text" ng-model='newReview.content'>
            <input class="submitBtn" type="submit" value='Submit Review'>
          </form>
        </div>
      </div>
      <div id="reviewHead" ng-if='tab.mainTab != true'>
        <div>
          <h4>Route Reviews</h4>
        </div>
      </div>







      <div class='reviewItem' ng-if='tab.reviewTab' ng-repeat='review in tab.reviews'>
        <img class='reviewUserPhoto' ng-src="{{review.user_photo}}" alt="{{review.username}}">
        <div class="reviewContent">
          <div class='reviewContentBlock'>
            <p class='reviewText'>User: {{review.username}} </p>
            <br>
            <p class='reviewText'> Review: {{review.review}}</p>
          </div>
        </div>
      </div>



    </md-tab>
  </md-tabs>
</div>
