#loginForm {
  margin-top: 40px;


  form {
    background-color: rgb(36,36,36);
    color: rgb(233,174,64);
    margin: 0;
    padding: 30px;
    input {
      color: rgb(233,174,64);
    }
    label {
      color: rgb(233,174,64);
    }
  }
}

.layout-padding {
  padding: 0px !important;
}
