#mapContainer {
  background: rgb(0, 0, 0) !important;
  width: 75%;
  margin: 0 auto;
  border: 20px solid black;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 110px;
  z-index: -100000;

  #searchLocation {
    margin-top: 4px;
    margin-left: 20px;
  }

  #searchMap {
    background: rgb(0, 0, 0) !important;
    margin-bottom: 4px;
    margin-right: 0px !important;
  }
}



#myLocationBtn {
  background: rgb(233,174,64) !important;
  color: black;
  margin-bottom: 20px;
  margin-right: 0px !important;
  border-radius: 25px;
}

#controlContainer {
  background: rgb(0, 0, 0) !important;
  width: 100%;
  height: 110px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 4px;
  text-align: center;
}

#filterContainer {
  margin-bottom: 10px;

  .filterContainer {
    width: 20%;

    .filterHead {
      margin-top: 30px;
    }

    .filterIMG {
      height: 40px;
      width: 40px;
    }

    h4 {
      text-decoration: underline;
      color: rgb(233,174,64);
    }
    md-input-container{
      width: 48%;
      label {
        color: rgb(233,174,64);
      }
      md-select {
        background: white;
        color: black;
      }
    }
  }

}


#filterHeader {
  background: rgb(233,174,64) !important;
  color: black;
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: underline;
}

.hiddenMap {
  position: absolute;
  left: -8000px;
  top: -8000px;
}

.shownMap {
  visibility: visible;
}


#routeList {
  height: auto;
  width: auto;
  #locationHeader {
    background: rgb(233,174,64) !important;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  md-list-item:nth-child(odd) {
    background: rgb(212, 212, 212)!important;
    color: black;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 10px;
    img {
      border: 1px solid black;
    }
  }
  md-list-item:nth-child(even) {
    background: rgb(255, 255, 255)!important;
    color: black;
    border-radius: 10px;
    img {
      border: 1px solid black;
    }
  }
}
