.markerContainer {
  overflow: hidden;
  color: black;
  min-width: 300px;
  margin: 0 !important;
  padding: 0 !important;

  .imgDiv {
    margin: 0 !important;
    padding: 0 !important;
    min-width: 180px !important;
  }

  img {
    display: block;
    min-width: 170px !important;
    height: auto;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  p {
    text-align: left;
  }



}
