.routes_template {
  height: 420px;
  width: 1000px;
  overflow: scroll;
  // color: rgba(0, 0, 0, .5) !important;
  color: white !important;
  border: 3px solid rgb(233,174,64);
  background: black;
  // ._md-list-item-inner {
  //   color: rgb(233,174,64);
  //   div {
  //     width: 0 !important;
  //   }
  //
  //   p {
  //     text-align: left;
  //     word-break: break-all;
  //   //   word-wrap: break-word;
  //   }
  //
  //
  // }

}
// .routeContainer {
//   height: 100px;
// }
//
// .routeInfoContainer {
//   display: inline-block;
//   position: relative;
//   height: 100%;
// }
// .descriptionContainer {
//   display: inline-block;
//   position: relative;
//   height: 100%;
//   padding: 0;
//   width: 0;
//   * {
//     padding: 0;
//     width: 0;
//   }
// }



.modalImage {
  height: 300px;
  width: 300px;
}

.md-dialog-container {
  width: 100%;
  padding-top: 450px;
  height: 100%;
  top: inherit !important;
  bottom: 0px;
  left: 0px;
  position: fixed;
}

#modalHeader {
  background: rgb(233,174,64) !important;
  color: black;
  font-size: 25px;
  font-weight: bold;
  // text-decoration: underline;
  .modalHeaderSpanOne{
    border-bottom: 2px solid black !important;
  }

  .modalHeaderSpanTwo {
    padding-left: 10px;
    border: none;
  }

}


// .modal-list-description {
//   // text-align: left !important;
//   margin-left: 0 !important;
//   padding-left: 0 !important
// }
