.routes_template {
  height: 420px;
  width: 1000px;
  overflow: scroll;
  color: white !important;
  border: 3px solid rgb(233,174,64);
  background: black;
}


.md-dialog-container {
  width: 100%;
  padding-top: 550px;
  height: 100%;
  top: inherit !important;
  bottom: 0px;
  left: 0px;
  position: fixed;
}

.routeTabsContainer {
  min-width: 100%;
  md-tabs {
    height: 100%;
  }
  md-tabs md-tabs-wrapper {
    background: rgb(233,174,64);
    color: black;
    height: 50px;
    span {
      color: black;
    }
    md-ink-bar {
      background: black !important;
    }
  }
}




  .modalOne:first-child {
    margin-top: 20px !important;
  }

  .modalOne:nth-child(odd) {
    color: rgb(233,174,64);
    background: rgb(212, 212, 212)!important;
    color: black;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    height: 60px;
  }

  .modalOne:nth-child(even) {
    color: rgb(233,174,64);
    background: rgb(255, 255, 255)!important;
    color: black;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    height: 60px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .modalOne:nth-last-child(){
    margin-bottom: 30px !important;
  }



  #routeHead {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 20px;
    display: block;
    height: 40px;
    background: rgb(233,174,64) !important;
    color: black;
    border-radius: 20px;
    div {
      h4 {
        width: 50%;
        margin-left: 20px;
        float: left;
      }
    }
  }



  .route  {
    margin-top: 20px !important;
    margin-bottom: 5px !important;
    background: rgb(115, 199, 212)!important;
    color: black;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    height: 60px;
    img {
      margin-top: 25px !important;
    }
  }

  #reviewHead {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
    display: block;
    height: 40px;
    background: rgb(233,174,64) !important;
    color: black;
    border-radius: 20px;
    div {
      h4 {
        width: 20%;
        margin-left: 20px;
        float: left;
      }
    }
  }

  .commentBtn {
    background: white;
    color: black;
    width: 90%;
    margin: 0 auto;
    margin-left: 5%;
    margin-bottom: 5px;
    border-radius: 15px;
  }

  #submitReview {
    color: white;
    height: 60px;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 20px !important;


    .reviewForm {
      margin: 0 auto;
      md-input-container {
        background: white !important;
        width: 100%;
        height: 33px;
        border-radius: 15px;

        .textField {
          color: black;
          width: 100%;
        }
      }
      .submitBtn {
        border-radius: 15px;
        color: black;
        text-align: center;
        width: 20%;
        float: right;
        margin-bottom: 20px;
      }
    }
  }


  .reviewItem:nth-child(odd) {
    background: rgb(212, 212, 212)!important;
    color: black;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 60px;


    .reviewUserPhoto {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-left: 10px;
    }
    .reviewText {
      vertical-align: middle;
      display: inline;
    }

    .reviewContent {
      border: 1px solid red; 
    }
  }


  .reviewItem:nth-child(even) {
    background: rgb(255, 255, 255)!important;
    color: black;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    height: 60px;

    .reviewUserPhoto {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-left: 10px;
    }
    .reviewText {
      margin-top: 10px !important;
      color: black;
      display: inline;
    }
  }
