.routes_template {
  height: 420px;
  width: 1000px;
  overflow: scroll;
  color: white !important;
  border: 3px solid rgb(233,174,64);
  background: black;
}


.md-dialog-container {
  width: 100%;
  padding-top: 550px;
  height: 100%;
  top: inherit !important;
  bottom: 0px;
  left: 0px;
  position: fixed;
}



.modalOne:first-child {
  margin-top: 20px !important;
}

.modalOne:nth-child(odd) {
  color: rgb(233,174,64);
  background: rgb(212, 212, 212)!important;
  color: black;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  height: 60px;
}

.modalOne:nth-child(even) {
  color: rgb(233,174,64);
  background: rgb(255, 255, 255)!important;
  color: black;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  height: 60px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.route  {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  background: rgb(159, 108, 162) !important;
  color: black;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  height: 60px;
  img {
    margin-top: 25px !important;
  }
}

.routeTabsContainer {
  min-width: 100%;
  md-tabs {
    height: 100%;
  }
  md-tabs md-tabs-wrapper {
    background: rgb(233,174,64);
    color: black;
    height: 50px;
    span {
      color: black;
    }
    md-ink-bar {
      background: black !important;
    }
  }



  .reviewItem:nth-child(odd) {
    background: rgb(212, 212, 212)!important;
    color: black;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 60px;
    .reviewContent {
      display: inline-block;
      .reviewContentBlock {
        display: inline-block;
      }
    }
    .reviewUserPhoto {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-left: 10px;
    }
    .reviewText {
      vertical-align: middle;
      color: black;
      display: inline;
    }
  }

  .reviewItem:nth-child(even) {
    background: rgb(255, 255, 255)!important;
    color: black;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    height: 60px;
    .reviewContent {
      display: inline-block;
      .reviewContentBlock {
        display: inline-block;
      }
    }
    .reviewUserPhoto {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-left: 10px;
    }
    .reviewText {
      color: black;
      display: inline;
    }

  }



  #submitReview{
    color: white;
    height: 100px;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px !important;

    h1{
      text-align: center;
      width: 100%;
    }

    .textField {
      color: black;
      width: 100%;
      height: 100px;
      margin-bottom: 20px;
    }
    .submitBtn {
      color: black;
      text-align: center;
      width: 20%;
      float: right;
      margin-bottom: 20px;
    }

  }
}
