#navigator-bg {
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  // position: relative;
  // display: flex;

  #Logo {
    height: 70px;
    margin-top: 0px;
    padding-top: 0px;
  }
}
.leaflet-control-layers-toggle {
  display: none;
}

.flexTestDiv {
  height: 100%;
  width: 20px;
}

.md-unselected {
  color: rgb(233,174,64) !important;
}

.md-button.md-accent {
  color: rgb(233, 174, 64) ;
}

md-nav-ink-bar {
  background: rgb(233, 174, 64) !important;
}



md-ripple-container {
  background: rgb(233, 174, 64) !important;
  color: rgb(233, 174, 64) !important;
}

.md-button._md-nav-button {
}

#logoutButton {
  color: rgb(233, 174, 64);
  height: 100%;
}
