
#navigator-bg {
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.md-unselected {
  color: rgb(233,174,64) !important;
}

.md-button.md-accent {
  color: rgb(233, 174, 64) ;
}

md-nav-ink-bar {
  background: rgb(233, 174, 64) !important;
}



md-ripple-container {
  background: rgb(233, 174, 64) !important;
  color: rgb(233, 174, 64) !important;
}

.md-button._md-nav-button {
}

#logoutButton {
  color: rgb(233, 174, 64);
  height: 100%;
}
