#profileContainer {
  background: rgb(0,0,0) !important;
  width: 75%;
  margin: 0 auto;
  border: 20px solid black;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 130px;


  .profileImage {
    max-width: 300px;


  }
  .profileAbout {
    margin-left: 20px;
    border: 1px solid rgb(233,174,64);
    border-radius: 25px;


    h3 {
      padding: 20px;
      color: rgb(233,174,64);
      text-decoration: underline;
      text-align: left;
    }
    p {
      padding: 20px;
      color: rgb(233,174,64);
      text-align: left;
    }
  }
}
