#profileContainer {
  background: rgb(0,0,0) !important;
  width: 75%;
  margin: 0 auto;
  border: 20px solid black;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 130px;

  h1 {
    color: rgb(233,174,64);
    text-decoration: underline;
  }

  p {
    color: rgb(233,174,64);
  }
}
