#signupForm {
  margin-top: 200px;

  md-content {
    width: 35%;
    background-color: rgba(0, 0, 0, 0.7) !important;

    form {
      border: 4px solid black;
      color: rgb(233,174,64);
      margin: 0;
      padding: 30px;
      input {
        color: rgb(233,174,64);
      }
      label {
        color: rgb(233,174,64);
      }
    }
  }
}

.layout-padding {
  padding: 0px !important;
}

p {
  text-align:center;
}
