<div id="aboutContainer">

  <md-content>

    <img layout="row" layout-align="center center" class="portfolioSite" src="../images/norway-mountain-sky-blue.jpg" />

    <p>
      Crushing routes is the wikipedia for climbing routes! Find your next big project, either being rock, boulder or ice.
      Climbers from all over the world can share their inspiring climbing routes with the community.
    </p>

    <!-- <p>
    The community can comment, vote and grade routes provided by other members. The more upvotes your route receive the higher your score.
    The top 100 users will recive profit sharring from crushing Routes!
  </p> -->


  </md-content>

</div>
