<div id="mapContainer" ng-class="mapClass(checkRoute())" map-lazy-load="https://maps.google.com/maps/api/js">


  <md-content id="searchMap" layout="row" layout-align="end center">
    <md-button flex="20"id="myLocationBtn" class="md-raised" ng-click="searchIP(ip)">My location</md-button>
  </md-content>

  <leaflet defaults='defaults' layers="layers" markers="filteredMarkerArr" center="center_boulder" width="100%" height="480px"></leaflet>


 <md-subheader id="filterHeader" class="md-no-sticky">Filter By Difficulty</md-subheader>

  <div id="filterContainer" layout="row" layout-align="space-around center" id="controlContainer">


    <div class="filterContainer">

      <div class="filterHead">
        <img class="filterIMG" src="https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/128/Map-Marker-Marker-Outside-Chartreuse.png"/>
        <h4>Rock Grade Filter</h4>
      </div>

      <md-input-container >
        <label>Rock min</label>
        <md-select ng-model="filter.rock_grade_min">
          <md-option ng-repeat="grade in rock.min" value="{{grade.abbrev}}">
            {{grade.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container >
        <label>Rock Max</label>
        <md-select ng-model="filter.rock_grade_max">
          <md-option ng-repeat="grade in rock.max" value="{{grade.abbrev}}">
            {{grade.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div class="filterContainer">

      <div class="filterHead">
        <img class="filterIMG" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/map-marker-128.png"/>
        <h4>Boulder Grade Filter</h4>
      </div>

      <md-input-container >
        <label>Boulder Min</label>
        <md-select ng-model="filter.boulder_grade_min">
          <md-option ng-repeat="grade in boulder.min" value="{{grade.abbrev}}">
            {{grade.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container >
        <label>Boulder Max</label>
        <md-select ng-model="filter.boulder_grade_max">
          <md-option ng-repeat="grade in boulder.max" value="{{grade.abbrev}}">
            {{grade.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div class="filterContainer">

      <div class="filterHead">
        <img class="filterIMG" src="https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/128/Map-Marker-Marker-Outside-Azure.png"/>
        <h4>Ice Grade Filter</h4>
      </div>

      <md-input-container >
        <label>Ice min</label>
        <md-select ng-model="filter.ice_grade_min">
          <md-option ng-repeat="grade in ice.min" value="{{grade.abbrev}}">
            {{grade.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container >
        <label>Ice Max</label>
        <md-select ng-model="filter.ice_grade_max">
          <md-option ng-repeat="grade in ice.max" value="{{grade.abbrev}}">
            {{grade.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

  </div>


  <div id="routeList">
    <md-subheader id="locationHeader" class="md-no-sticky">Climbing Areas</md-subheader>
    <md-list-item  class="md-3-line" ng-repeat="item in getShitDone" ng-click="openFromLeft(item)">
      <img ng-src="{{item.url}}?{{$index}}" class="md-avatar" alt="{{item.who}}">
      <div class="md-list-item-text" layout="column">
        <h3>Climbing Area: {{ item.climbing_area }}</h3>
        <h4>Climbing type: {{ item.type }}</h4>
      </div>



    </md-list-item>
    <md-divider></md-divider>
  </div>
  

</div>
