<!-- <md-content id="navigator-bg" class="md-padding">
  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
    <img id="Logo" src="../images/CrushRoutes.png" alt="" />
    <md-nav-item id="home" md-nav-sref="home" name="home">Home</md-nav-item>
    <md-nav-item md-nav-sref="about" name="about">About</md-nav-item>
    <md-nav-item ng-hide="checkLogin()" md-nav-sref="login" name="login">Login</md-nav-item>
    <md-nav-item ng-hide="checkLogin()" md-nav-sref="signup" name="signup">Sign Up</md-nav-item>
    <md-button id='logoutButton' ng-show="checkLogin()" ng-click="logout()">Logout</md-button>
  </md-nav-bar>
</md-content> -->

<md-content id="navigator-bg" layout="row" layout-align="end center" class="md-padding">
  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
    <!-- <img id="Logo" class='logo' src="../images/CrushRoutes-1.png" alt="" /> -->
    <md-nav-item id="home" md-nav-sref="home" name="home">Home</md-nav-item>
    <md-nav-item md-nav-sref="about" name="about">About</md-nav-item>
    <md-nav-item ng-show="checkLogin()"md-nav-sref="profile" name="profile">Profile</md-nav-item>
    <md-nav-item ng-hide="checkLogin()" md-nav-sref="login" name="login">Login</md-nav-item>
    <md-nav-item ng-hide="checkLogin()" md-nav-sref="signup" name="signup">Sign Up</md-nav-item>
    <md-button id='logoutButton' ng-show="checkLogin()" ng-click="logout()">Logout</md-button>
  </md-nav-bar>
</md-content>

<md-sidenav class="md-sidenav-left" md-component-id="left"  md-whiteframe="4">

  <md-toolbar id="sideNavTool" layout="row" class="md-theme-indigo">
    <h1 layout-align="start center" class="md-toolbar-tools">Add Your Route!</h1>
    <md-button layout-align="start end" class="md-warn" aria-label="Settings" ng-click="close()">
      <md-icon  md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-button>
  </md-toolbar>

  <md-content id="sideNavForm" layout-padding="">

    <form name='addClimbForm' ng-submit='addMarker()' novalidate>

      <md-input-container class="md-block">
        <label for="climbing_area">Climbing Area: </label>
        <input type="text" name="climbing_area" ng-model='values.climbing_area'ng-maxlength="30" required><br>
        <div ng-messages="addClimbForm.climbing_area.$error">
          <div ng-message="required">Climbing area required!</div>
          <div ng-message="maxlength">Climbing Area must be less than 30 characters</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label for="route_name">Route Name: </label>
        <input type="text" name="route_name" ng-model='values.route_name' ng-maxlength="30" required><br>
        <div ng-messages="addClimbForm.route_name.$error">
          <div ng-message="required">Route name required!</div>
          <div ng-message="maxlength">Route name must be less than 30 characters</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label for="picture_url">picture_url: </label>
        <input type="text" name="picture_url" ng-model='values.picture_url'><br>
      </md-input-container>

      <md-input-container id="description"class="md-block">
        <label for="description">description: </label>
        <input type="text" name="description" ng-model='values.description' ng-maxlength="50" required>
        <div ng-messages="addClimbForm.description.$error">
          <div ng-message="required">description required!</div>
          <div ng-message="maxlength">Description must be less than 50 characters</div>
        </div>
      </md-input-container><br>

      <md-input-container class="dropDownSelect">
        <label>Type</label>
        <md-select ng-model="values.climb_type">
          <md-option ng-repeat="type in types" class='menuDropdownOption' ng-click='updateGrades(type.abbrev)' value="{{type.abbrev}}" >
            {{type.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="dropDownSelect" >
        <label>Grade</label>
        <md-select id="test" ng-model="values.climb_grade">
          <md-option ng-repeat="grade in grades" class='menuDropdownOption' value="{{grade.abbrev}}">
            {{grade.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block">
        <label for="lat">Latitude: </label>
        <input type="text" name="Latitude" ng-model='values.lat' required><br>
        <div ng-messages="addClimbForm.Latitude.$error">
          <div ng-message="required">Latitude required!</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label for="lng">Longitude: </label>
        <input type="text" name="Longitude" ng-model='values.lng' required>
        <div ng-messages="addClimbForm.Longitude.$error">
          <div ng-message="required">Longitude required!</div>
        </div>
      </md-input-container>

      <md-button id="addClimbFormBtn" class="md-raised md-warn" ng-disabled="addClimbForm.$invalid" type="submit"><span ng-bind='checkValidity(addClimbForm.$invalid)'></span></md-button>

    </form>

  </md-content>

</md-sidenav>
