<div id="profileContainer" ng-cloak="">

  <div layout="row">
    <div class="flex-40">
      <img class="profileImage" src="{{userInfo.picture}}"/>
    </div>
    <div flex="60" class="profileAbout" >
      <h3>User: {{userInfo.user}}</h3>
      <p>Home Town: {{userInfo.home}}</p>
      <p>About: {{userInfo.about}}</p>
    </div>
  </div>

  <hr>


  <hr>

  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="Created Climbs">
        <md-content class="container">
          <!-- <h1 class="md-display-2">Created Climbs</h1> -->
          <div class="row">
            <!-- <img id="aboutImage" class="col-md-4 col-lg-4" src="../images/norway-mountain-sky-blue.jpg" /> -->
            <p class="col-md-7 col-lg-7">
              Future Feature: Climbs this user has created for the community...
            </p>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Completed Climbs">
        <md-content class="container">
          <!-- <h1 class="md-display-2">Completed Climbs</h1> -->
          <div class="row">
            <!-- <img id="openImage" class=" col-md-8 col-lg-8" src="../images/about/clickMarker.png" /> -->
            <p class="col-md-4 col-lg-4">
              Future Feature: Climbs this user has Completed...
            </p>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Climbing Projects">
        <md-content class="container">
          <!-- <h1 class="md-display-2">Climbing Projects</h1> -->
          <div class="row">
            <!-- <img id="filterImage" class="col-md-8 col-lg-8" src="../images/about/filterMarker.png" /> -->
            <p class="col-md-4 col-lg-4">
              Future Feature: Climbs this user has added to his/her todo project list...
            </p>
          </div>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-content>









</div>
