<div id="signupForm" layout="column" layout-align="center center" layout="column" ng-cloak="" class="inputdemoErrors">

  <md-content layout-padding="">
    <form name="signupForm" ng-submit="createUser()()">
      <div class='authErrorContainer' ng-if='signupError'>
        <p ng-bind='signupError'></p>
      </div>

      <md-input-container class="md-block">
        <label>User Name</label>

        <input type="text" required="" name="userName" ng-minlength="6" ng-maxlength="26" ng-model="user.user_name">

        <div ng-messages="signupForm.userName.$error">
          <div ng-message="required">User Name Required</div>
          <div ng-message="minlength">User Name must be 6 characters long</div>
          <div ng-message="maxlength">User Name must be less than 20 characters long</div>
        </div>

      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" required="" name="password" ng-minlength="6" ng-maxlength="26" ng-model="user.password">

        <div ng-messages="signupForm.password.$error">
          <div ng-message="required">Password Required</div>
          <div ng-message="minlength">User Password must be 6 characters long</div>
          <div ng-message="maxlength">User Password must be less than 20 characters long</div>
        </div>
      </md-input-container>

      <p>
        <md-button class="md-raised md-warn md-hue-1" ng-disabled="signupForm.$invalid" type="submit"><span ng-bind='checkValidity(signupForm.$invalid)'></span></md-button>
      </p>

    </form>
  </md-content>

</div>
